

div {
    display:inline-block;

    }
div#un{
        width: 200px;
}

div#deux{
    width: 200px;
}

div#trois{
    margin-right: 25px;
}

div#quatre{
    margin-right:115px ;
}


div#six{
    margin-right:235px ;
}

th{
    background-color:navy;
    color:oldlace;
    
}



li{
    margin-bottom: 10px;
}

/*h2{
    text-align: center;
}

ul{
    list-style: none;
}
div#left{
    float:left;
    margin-left: 20px;
}

div#right{
    float:right;
    margin-right: 20px;
    
}*/

