ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
    }
    
div {
    display:inline-block;

    }
div#un{
        width: 300px;
}

div#deux{
    width: 300px;
}

div#trois{
    margin-right: 25px;
}

div#quatre{
    margin-right:137px ;
}


div#six{
    width:300px ;
}

th{
    background-color:navy;
    color:oldlace;
}

li{
    margin-bottom: 10px;
}

/*h2{
    text-align: center;
}

ul{
    list-style: none;
}
div#left{
    float:left;
    margin-left: 20px;
}

div#right{
    float:right;
    margin-right: 20px;
    
}*/
