<!--<td>{{task.name}}</td>
<td><progress value = "{{tempsConsomme}}" max="{{task.estimatedWorkload}}"></progress></td>
<td>{{task.estimatedWorkload}}</td>
<td>{{task.usedWorkload}}</td>
<td>{{task.remainingWorkload}}</td>
<td>{{task.endDate | date:'d/M/y'}}</td>-->
<h2><label>Nom de la tâche : </label> {{data.t.name}}</h2>
<ul class="list-group">
    <li>
        <div id="un" ><label>Projet :</label> {{data.p.name}}</div> 
        <div id="un"><label>Chef du Projet :</label> {{data.p.projectManager}}</div>
    </li> 
    <li>
        <div id="deux" ><label>Date de début :</label> {{data.t.actualStartDate}}</div> 
        <div id="deux"><label>Date de fin :</label> {{data.t.actualEndDate}}</div>
    </li> 
    <li>
        <div id="quatre">
        <table border="1" class="table">
            <thead>
                <tr>
                    <th>Tâches prédécesseures</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let t of data.t.listTaskPredecessor">
                    <td>{{t}}</td>
                </tr>
            </tbody>
        </table>
        </div>

        <div id="quatre">
        <table border="1" class="table">
            <thead>
                <tr>
                    <th>Tâches successeures </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let t of data.t.listTaskSuccessor">
                    <td>{{t}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </li>

    <li>
        <div id="trois" ><label>Charge estimée :</label> {{data.t.estimatedWorkload}} j</div> 
        <div id="trois"><label>Avancement :</label> {{data.t.progress}}%</div>
        <div id="trois"><label>Charge consommée :</label> {{data.t.usedWorkload}} j</div>
        <div id="trois"><label>Charge restante  :</label> {{data.t.remainingWorkload}} j</div>
    </li>

    <li>
        <div id="six"><label>Statut :</label> {{data.t.state}}</div> 
        <div *ngIf="data.t.state==='not started'" id="six"><button class="btn btn-success"(click)="start()">Démarrer la tâche</button></div>       
    </li>
</ul>