<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th >Nom du projet</th>
            <th>Chef de projet</th>
            <th >Client</th>
            <th >Date de début</th>
            <th >Date de fin</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let projet of listProjects">
            <td role="button" (click)= "openAndGetProject(projet,content)" >{{projet.name}}</td>
            <td>{{projet.projectManager}}</td>
            <td>{{projet.client}}</td>
            <td>{{projet.startDate | date:'d/M/y' }}</td>
            <td>{{projet.estimatedEndDate | date:'d/M/y' }}</td>

            <div *ngIf>
            <button>Supprimer</button>
            <button>Démarrer</button>
            <button>Terminer</button>
            </div>
        </tr>
    </tbody>
</table>

