<div mat-dialog-content >
    <h2>Modifier le projet: {{projetActuel.name}}
    <button mat-icon-button class="close-button" style="float: right;" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
    </h2>
    <form>
        <div class="form-group">
            <label for="projectName">Le nom du projet </label>
            <input id="projectName" name="projectName" type="text" class="form-control" [(ngModel)]="projectName">
                
        </div>
        <div class="form-group">
            <label for="client">Le client</label>
            <select id="client" name="client" type="text" class="form-control" [(ngModel)]="ClientName">
                <option *ngFor="let client of listClients" value="{{client.name}}">{{client.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="StartDate">Date de début</label>
            <input id="StartDate" name="StartDate" type="date" class="form-control" max="EndDate| date:'yyyy-MM-dd" [ngModel]="StartDate | date:'yyyy-MM-dd'" (ngModelChange)="StartDate = $event">
        </div>
        <div class="form-group">
            <label for="EndDate">Date de fin</label>
            <input id="EndDate" name="EndDate" type="date" class="form-control"  min="StartDate| date:'yyyy-MM-dd" [ngModel]="EndDate | date:'yyyy-MM-dd'" (ngModelChange)="EndDate = $event">
        </div>
        <div class="form-group">
            <label for="Description">Description du projet</label>
            <textarea id="Description" name="Description" cols="30" rows="10" class="form-control"[(ngModel)]="Description"></textarea>
        </div>
        <div class="form-group">
            <label for="tasksList">Liste des tâches</label>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Nom Tâche</th>
                        <th> Responsable</th>
                        <th>C. estimée</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let task of projetActuel.listTask">
                        <td>{{task.name}}</td>
                        <td>{{task.collab}}</td>
                        <td>{{task.estimatedWorkload}}</td>
                        <td>{{task.startDate | date:'d/M/y'}}</td>
                        <td>{{task.endDate | date:'d/M/y'}}</td>
                        <td><button>Modifier</button><button>Supprimer</button></td>
                    </tr>
                </tbody>
            </table>
        <button name = "buttonadd" type = "button" class = "btn btn-default" > AddTask </button>
        </div>
        <div>
        <form>
            <div class = "form-group">
                <label for="taskName">Le nom de la tache: </label>
                <input id="taskName" name ="taskName" type="text" class="form-control" required [(ngModel)] = "taskName">
            </div>
            <div class="form-group">
                <label for="collaboRes">Le collaborateur responsable: </label>
                <select id="collaboRes" name="collaboRes" type="text" class="form-control" [(ngModel)] = "collaboRes">
                    <option *ngFor= "let user of listUsers"> {{user.firstName}}</option>
                </select>
            </div>
        
            <div class="form-group">
                <label for="start_dateTask">Date de début: </label>
                <input id="start_dateTask" name="start_dateTask" type="date" [min]="StartDate" [max]="EndDate" class="form-control" [(ngModel)] = "startDateTask">
            </div>
            <div class="form-group">
                <label for="end_date">Date de fin: </label>
                <input id="end_date" name="end_date" type="date" [min]="startDateTask" [max]="EndDate" class="form-control" [(ngModel)] = "endDateTask">
            </div>
            <div class="form-group">
                <label for="C.estimee">La charge estimée: </label>
                <input id="C.estimee" name ="C.estimee" type="number" min="0" class="form-control" [(ngModel)] = "Cestimee">
            </div>
            <div class="form-group">
                <label for="parentTask">La tâche mére: </label>
                <select id="parentTask" name="parentTask" type="text" class="form-control" [(ngModel)] = "tacheMere">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label for="dependencyList">Liste de dépendance: </label>
                <select id="dependencyList" name="dependencyList" type="text" class="form-control" [(ngModel)] = "dependencylist" multiple>
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description du projet</label>
                <textarea id="description" name="description" cols="30" rows="10" class="form-control" [(ngModel)] = "descriptionTask"></textarea>
            </div>
            <div><button (click)= "AddTask()">Ajouter la tâche</button><button>Annuler</button></div>
          </form>
    </div>
        <div class="my-btns">
            <button type="submit" class="btn btn-success" id="btn-success" (click)="modifyProject()" [disabled]="projectValid()" >Valider</button> <!--(click)="AddProject()" [disabled]="projectValid()"-->
            <button mat-button mat-dialog-close class="btn btn-light" id="btn-light">Annuler</button>
        </div>
    </form>
</div>
